.list-wrapper {
    width: 270px;
    margin: 0 5px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
  }

.inputbox {
  display: inline-block;
  vertical-align: middle;
  width: 174px;
  height: 32px;
  background: floralwhite; 
  border: 1px solid #298fca;
  text-align: center;
  font-family: sans-serif;
  padding: 8px 10px;
  color: dodgerblue;
  box-shadow: inset 0 -1px 0 0 #d6dadc;
}

.titlebox {
  display: inline-block;
  vertical-align: middle;
  width: 174px;
  height: 32px; 
  border: 1px solid #298fca;
  text-align: center;
  font-family: sans-serif;
  padding: 8px 10px;
  color: dodgerblue;
  box-shadow: inset 0 -1px 0 0 #d6dadc;  
}
.column {
  background-color: dimgray;
  text-align: center;
  padding: 10px 10px;
}